      <div class="row">
        <div class="form-group col-md-3">
      <%= p_form.select :phone_type, options_for_phone_types,{},{class: "form-control"} %>
        </div>
        <div class="form-group col-md-6">
      <%= p_form.text_field :phone_number, class: "form-control", placeholder: "phone number" %>
        </div>
        <div class="form-group col-md-3">
      <%= p_form.remove_nested_fields_link "Remove", class:"btn btn-outline-danger btn-md" %>
        </div>
      </div>
      
      
