<h1 class="text-center">Editing Person</h1>

<%= render 'form', person: @person %>

<div class="container my-3">
  <%= link_to 'Show', @person, class: "btn btn-outline-info btn-sm" %> 
  <%= link_to 'Back', :back, class:"btn btn-outline-info btn-sm" %>
</div>
