<p>  <%= Time.now %> </p>

<div class="jumbotron">
  <h2 class="display-4">314machine sector data </h2>
  <p class="lead">This is a simple web app, is collecting sectoral data for companies supplies and marketing demands for industrial requirements</p>
  <hr class="my-2">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to "Learn More", companies_path, class: "btn btn-primary"  %>
  </p>
</div>
