<h1>Editing Company</h1>

<%= render 'form', company: @company %>
<div class="container my-3">
<%= link_to 'Show', @company, class: "btn btn-outline-info btn-sm" %> 
<%= link_to 'Back', :back, class: "btn btn-outline-info btn-sm"  %>
</div>

