/*
*
*= require easy-autocomplete
*= require easy-autocomplete.themes
*= require chosen-bootstrap
*= require_tree .
*= require_self
*/

@import "bootstrap";
@import 'font_awesome5_webfont';

@media only screen and (max-width: 450px) { 
  nav#pagy-61d1557dee2685b840d42bc5efc00f7fa9db9f07 {
    overflow: -webkit-paged-y;
  }

  a.next.btn.btn-primary {
    display: none;
  }

  a.prev.btn.btn-primary {
    display: none;
  }
}
