<div class="row d-lg-none">
    <div class="col-12 align-items-center">
  <%= form_with url: search_path, local: true, method: :get, html: {class: "form-inline"} do |form| %>
    
    <%= form.text_field :q, placeholder: "Search", class: "form-control form-control-sm ml-2", data: {behavior: "autocomplete"} %>
    
    <%= form.button fa_icon("search", type: :solid, class: "fa-lg" ), class: "btn btn-link text-dark" %>
  <% end %>
    </div>
</div>
