<div class="navbar navbar-light bg-light d-block d-lg-none">
          <%= form_with url: search_path, local: true, method: :get, html: {class: "form-inline"} do |form| %>
            <%= form.text_field :q, placeholder: "Search", class: "form-control form-control-sm mr-sm-2", data: {behavior: "autocomplete"} %>
            <%= form.button fa_icon("search", type: :solid, class: "fa-lg" ), class: "btn btn-dark my-2 my-sm-0 btn-sm" %>
          <% end %>
</div>
